.vid-container {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .bgvid {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    min-width: 1466px;
    object-fit: fill;
  }

  .inner-container {
    width: 400px;
    height: 400px;
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    overflow: hidden;
    border-radius: 20px;
    backdrop-filter: blur(8px);

    .box {
      position: absolute;
      height: calc(100% - 60px);
      width: 100%;
      font-family: Helvetica;
      color: #fff;
      background: rgba(0, 0, 0, 0.13);
      padding: 30px 0px;

      h1 {
        text-align: center;
        margin: 30px 0;
        font-size: 30px;
      }

      .input {
        width: 330px;
        height: 40px;
        margin: 0 auto;

        :global(.el-input__wrapper) {
          background-color: transparent;
        }
      }

      //修改form 验证提示 样式修改
      :global(.el-form-item__error) {
        left: 35px;
      }

      .button {
        width: 330px;
        margin: 20px auto;
        display: block;
      }

      p {
        font-size: 14px;
        text-align: center;

        span {
          cursor: pointer;
          color: #524f4f;
        }
      }
    }
  }
}





.flipInY {
  animation: flipInY 1.5s ease 1 both;
}

.flipOutY {
  animation: flipOutY 1.5s ease 1 both;
}



@keyframes flipInY {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0.1
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
    opacity: 0.3
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
  }

  100% {
    transform: perspective(400px)
  }
}



@keyframes flipOutY {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    animation-timing-function: ease-in;
    opacity: 0.1
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
    opacity: 0.3
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
  }

  100% {
    transform: perspective(400px)
  }
}